<%-include("header")-%>
    <div class="box" id="heading">
        <h1><%=kindOfDay%></h1>
    </div>
    <div class="box">
    <% list.map(function(item){ %>
    <div class="item">
       
            <input type="checkbox" name="input" id="INPUT">
            <p><%= item %></p>
        
    </div>

    <% }); %>

  
    
    <form action="/" method="post">

    
   

   
        <input type="text" name="input" id="INPUT" placeholder="New item" autocomplete="off">
   <button type="submit" name="button" value="<%=kindOfDay%>">+</button>
</form>
  </div>
  <footer>copyright 2024 @santhoshA69007</footer>
  <%-include("footer")-%>
